@model AppDevGCD0805.Models.Category



<h1>Edit</h1>
<form asp-controller="Categories" asp-action="Edit" method="post">

  <input asp-for="Name">
  <textarea asp-for="Description"></textarea>
  <button type="submit">Edit</button>

</form>